<!DOCTYPE html>
<html>
<head>
	<%- include('../common/head') %>
</head>
<body>
	<div id="main">
		<div>그룹에 가입하시겠습니까?</div>
		<a href="/main"><button type="button">Yes</button></a>
		<a href="/main"><button type="button">No</button></a>


	</div>
	<%- include('../common/footer') %>
</body>
</html>
