<!DOCTYPE html>
<html>
<head>
	<%- include('common/head') %>
</head>
<body>
	<div id="main">
		<div>우리가 어떤 민족입니까?</div>
		<a href="/"><button type="button">돌아가기</button></a>
	</div>
	<%- include('common/footer') %>
</body>
</html>
