<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Parser</title>
</head>
<body>
	<form id="bpForm" method="POST" action="/bp">
		<textarea name="bible" placeholder="여기에 복붙" rows="10" style="width:80%;"></textarea>
	</form>
	<button type="submit" form="bpForm" style="width:120px;height:40px;border:3px solid #333;">제출</button>
</body>
</html>
