<!DOCTYPE html>
<html>
<head>
	<%- include('common/head') %>
</head>
<body>
	<div id="main">
		<a href="/user/user1"><button type="button">Test 유저</button></a>
		<a href="/group/group1/read"><button type="button">Test 그룹1</button></a>
		<a href="/group/group2/read"><button type="button">Test 그룹2</button></a>
		<a href="/group/new"><button type="button">그룹 만들기</button></a>
	</div>
	<%- include('common/footer') %>
</body>
</html>
