<!DOCTYPE html>
<html>
<head>
	<%- include('common/head') %>
</head>
<body>
	<div id="main">
		<a href="/user/user1"><button type="button">유저1</button></a><br>
		<a href="/group/group1/read"><button type="button">그룹1 성경읽기</button></a><br>
		<a href="/group/group1"><button type="button">그룹1 설정하기</button></a><br>
		<a href="/group/new"><button type="button">그룹 만들기</button></a>
	</div>
	<%- include('common/footer') %>
</body>
</html>
