<!DOCTYPE html>
<html>
<head>
	<%- include('common/head') %>
</head>
<body>
	<div id="main">
		READDDD
	</div>

	<%- include('common/footer') %>
	<script type="text/javascript" src="js/readTogether.js"></script>
</body>
</html>
