<!DOCTYPE html>
<html>
<head>
	<%- include('../common/head') %>
</head>
<body>
	<div id="main">

		개인 설정을 여기에???

		<a href="/"><button type="button">탈퇴하기</button></a><br>

	</div>
	<%- include('../common/footer') %>
</body>
</html>
